{% extends 'base.html' %} {% block content %}
{% load blog_extras %} 

<div class="container swiper">
<div class="wrapper">
  <div class="card-list swiper-wrapper">
    {% for note in notelist %}
      <div class="card swiper-slide">
        <div class="card-image">
          <img src="{{ note.image.url }}" alt="">
          <p class="card-tag">Development</p>
        </div>
        <div class="card-content">
          <h3 class="card-title">{{note.title}}</h3>
          <p class="card-text">{{note.text|truncatechars:300 }}</p>
          <div class="card-footer">
            <div class="card-profile">
              {% if note.image %}
                <img src="{{ note.image.url }}" alt="">
              {% endif %}
              <div class="card-profile-info">
                <span class="card-profile-name">Ricardo Yepez</span>
                <span class="card-profile-role">Developer</span>
              </div>
            </div>
            <a href="{% url 'notes.detail' pk=note.id %}" class="card-button">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
</div>

<!--
<section id="blog">
  <div class="blog-heading">
    <h1 class="my-5">
      Music, Working, Ideas, Learning and everything to be better
    </h1>
  </div>
  <div class="card-deck">
    {% for note in notelist %}
    <div class="card h-50 text-white bg-dark mb-3 rounded-5 shadow">
      <div class="row no-gutters">
        <div class="col-md-4">
          {% if note.image %}
          <img
            class="card-img rounded-5"
            src="{{ note.image.url }}"
            alt="Card image cap"
          />
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{note.title}}</h5>
            <p class="card-text">{{note.text|truncatechars:300 }}</p>
            <a
              href="{% url 'notes.detail' pk=note.id %}"
              class="text-white btn btn-success"
              >Read</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
-->
{% endblock %}
